#mySelect{
    margin-top: 250px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 550px;
}

#select1{
    margin-top: 20px;
}

#select2{
    margin-top: 30px;
}

#text1{
    margin-left: 300px;
    font-family: Lucida Sans Unicode;
    color: #0000AA;
    font-weight: bold;
}

#text2{
    margin-left: 500px;
    line-height: 0px;
    font-style: italic;
    font-size: 13px;
    color: #0000FF;
    font-family: Lucida Sans Unicode;
}

#beng{
    margin-top: 30px;
    text-align: center;
}

#bhin{
    margin-top: 30px;
    text-align: center;
}

button{
    margin-right: 25px;
}