#heading{
    font-size: 30px;
    color: #222222;
    font-weight: bold;
    font-family: Lucida Sans Unicode;
}

#selectLang{
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 550px;
    font-size: 20px;
    border: 2px solid black;
}

#initial-msg-1{
    margin-top: 20px;
    margin-left: 300px;
    font-family: Lucida Sans Unicode;
    color: #0000AA;
    font-weight: bold;
}

#initial-msg-2{
    margin-top: 30px;
    margin-left: 500px;
    line-height: 0px;
    font-style: italic;
    font-size: 13px;
    color: #0000FF;
    font-family: Lucida Sans Unicode;
}

#word-buttons button{
    cursor: pointer;
    margin: 20px;
    padding: 5px;
}

#buttons{
    text-align: center;
}

#new-msg{
    margin-top: 20px;
    margin-left: 300px;
    font-family: Lucida Sans Unicode;
    color: #0000AA;
    font-weight: bold;
}

#new-line{
    margin-top: 0px;
    margin-left: 450px;
    text-align: center;
    line-height: 0px;
    font-size: 13px;
    color: #0000FF;
    font-family: Lucida Sans Unicode;
}

#formed-sentence{
    font-size: 25px;
    color: #444444;
}

#sentence{
    text-align: center;
}

#reform-button, #check-correctness-sentence,#correct-sentence{
    cursor: pointer;
    margin:10px;
    padding :5px;
    border :1px solid black;
}

#correct-answer{
    font-size: 30px;
    color: #008000;
}

#wrong-answer{
    font-size: 30px;
    color: #FF0000;
}